In [12]:
import pandas as pd
data =  pd.read_csv("d:/data/HR.csv") 
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary_type
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Departments            14999 non-null  object
 9   salary_type            14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [25]:
df1=data
#df1["number_project"]=df1["number_project"].astype('object')
#df1["Work_accident"]=df1["Work_accident"].astype('object')
df1["left"]=df1["left"].astype('object')
#df1["promotion_last_5years"]=df1["promotion_last_5years"].astype('object')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  object
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  object
 6   left                   14999 non-null  object
 7   promotion_last_5years  14999 non-null  object
 8   Departments            14999 non-null  object
 9   salary_type            14999 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.1+ MB

In [26]:
from pycaret.classification import *

In [27]:
s = setup(df1,target="left",session_id=124)

In [28]:
df1.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary_type
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Fit the best model

In [29]:
best = compare_models(n_select=15)
compare_model_results = pull()

In [30]:
best[0]

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=124, verbose=0,
                       warm_start=False)

#### creating a predict function to be passed into gradio UI

In [31]:
df1.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments', 'salary_type'],
      dtype='object')

In [36]:
def predict(model, satisfaction_level, last_evaluation, number_project, average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Departments,salary_type):
  
    df = pd.DataFrame.from_dict({'satisfaction_level': [satisfaction_level], 'last_evaluation': [last_evaluation],
                                 'number_project': [number_project], 'average_montly_hours': [average_montly_hours],
                                 'time_spend_company': [time_spend_company], 'Work_accident': [Work_accident],
                                 'promotion_last_5years': [promotion_last_5years], 'Departments': [Departments], 
                                 'salary_type': [salary_type]})
    
    model_index = list(compare_model_results['Model']).index(model)
    model = best[model_index]
    pred = predict_model(model, df, raw_score=True)
    return {'left_No': pred[0].astype('float64'), 
            'left_Yes': pred[1].astype('float64')}

## Creating an Interface with gradio

In [37]:
import gradio as gr

model = gr.inputs.Dropdown(list(compare_model_results['Model']), label="Model")

satisfaction_level = gr.inputs.Slider(minimum=0, maximum=1, default=df1['satisfaction_level'].mean(), label = 'satisfaction_level')

last_evaluation = gr.inputs.Slider(minimum=0, maximum=1, default=df1['last_evaluation'].mean(), label = 'last_evaluation')

number_project = gr.inputs.Dropdown(list(df1['number_project'].unique()), label ='number_project')

average_montly_hours = gr.inputs.Slider(minimum=1, maximum=400, default=df1['average_montly_hours'].mean(), label = 'average_montly_hours')

time_spend_company = gr.inputs.Slider(minimum=1, maximum=10, default=df1['time_spend_company'].mean(), label = 'time_spend_company')

Work_accident =  gr.inputs.Dropdown(list(df1['Work_accident'].unique()), label ="Work_accident")

promotion_last_5years = gr.inputs.Dropdown(list(df1['promotion_last_5years'].unique()), label ='promotion_last_5years')

Departments = gr.inputs.Dropdown(list(df1['Departments'].unique()), label='Departments')

salary_type = gr.inputs.Dropdown(list(df1['salary_type'].unique()), label ='salary_type')

gr.Interface(predict, [model,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Departments,salary_type], "label", live=True).launch()

Running locally at: http://127.0.0.1:7899/
To create a public link, set `share=True` in `launch()`.
Interface loading below...

(<Flask 'gradio.networking'>, 'http://127.0.0.1:7899/', None)

[2021-09-13 19:36:13,901] ERROR in app: Exception on /api/predict/ [POST]
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2895, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1675, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1683, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 0

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask_cors\extension.py", line 165, in wrapped_function
    return cors_after_request(app.make_response(f(*args, **kwargs)))
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\networking.py", line 92, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\networking.py", line 180, in predict
    prediction, durations = app.interface.process(raw_input)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\interface.py", line 334, in process
    predictions, durations = self.run_prediction(processed_input, return_duration=True)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\interface.py", line 307, in run_prediction
    prediction = predict_fn(*processed_input)
  File "<ipython-input-36-9ea1dabf39be>", line 12, in predict
    return {'left_No': pred[0].astype('float64'),
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\frame.py", line 2902, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2897, in get_loc
    raise KeyError(key) from err
KeyError: 0
[2021-09-13 19:36:15,533] ERROR in app: Exception on /api/predict/ [POST]
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2895, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1675, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1683, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 0

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask_cors\extension.py", line 165, in wrapped_function
    return cors_after_request(app.make_response(f(*args, **kwargs)))
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\networking.py", line 92, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\networking.py", line 180, in predict
    prediction, durations = app.interface.process(raw_input)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\interface.py", line 334, in process
    predictions, durations = self.run_prediction(processed_input, return_duration=True)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\gradio\interface.py", line 307, in run_prediction
    prediction = predict_fn(*processed_input)
  File "<ipython-input-36-9ea1dabf39be>", line 12, in predict
    return {'left_No': pred[0].astype('float64'),
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\frame.py", line 2902, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2897, in get_loc
    raise KeyError(key) from err
KeyError: 0