# Auto Visualization using pandas_visual_analysis

### Required Packages

In [ ]:
#installation
!pip install pandas-visual-analysis

In [1]:
import pandas as pd
from pandas_visual_analysis import VisualAnalysis
import warnings
warnings.filterwarnings("ignore")

#### Dataset


Filepath of CSV file

In [2]:
#filepath
file_path=""

In [3]:
df=pd.read_csv(file_path)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Visualization

pandas_visual_analysis provides VisualAnalysis module which generates an interactive visual analysis widget to analyze a pandas DataFrame in Jupyter notebooks. It can display various different types of graphs with support for linked-brushing in interactive widgets. This allows data exploration and cognition to be simple, even with complex multivariate datasets.

#### Arguments

* **data (Union[DataFrame, DataSource])** – A pandas.DataFrame object or a DataSource.

* **layout (Union[str, List[List[str]]])** – Layout specification name or explicit definition of widget names in rows. Those columns have to include all columns of the DataFrame which have type object, str, bool or category. This means it can only add columns which do not have the aforementioned types. Defaults to ‘default’.

* **categorical_columns (Optional[List[str]])** – If given, specifies which columns are to be interpreted as categorical. Defaults to None.

* **row_height (Union[int, List[int]])** – Height in pixels each row should have. If given an integer, each row has the height specified by that value, if given a list of integers, each value in the list specifies the height of the corresponding row. Defaults to 400.

* **sample (Union[float, int, None])** – Int or float value specifying if the DataFrame should be sub-sampled. When an int is given, the DataFrame will be limited to that number of rows given by the value. When a float is given, the DataFrame will include the fraction of rows given by the value. Defaults to None.

* **select_color (Union[str, Tuple[int, int, int]])** – RGB tuple or hex color specifying the color display selected data points. Values in the tuple have to be between 0 and 255 inclusive or a hex string that converts to such RGB values. Defaults to ‘#323EEC’.

* **deselect_color (Union[str, Tuple[int, int, int]])** – RGB tuple or hex color specifying the color display deselected data points. Values in the tuple have to be between 0 and 255 inclusive or a hex string that converts to such RGB values. Defaults to ‘#8A8C93’.

* **alpha (float)** – Opacity of data points when applicable ranging from 0.0 to 1.0 inclusive. Defaults to 0.75.

* **seed (Optional[int])** – Random seed used for sampling the data. Values can be any integer between 0 and 2**32 - 1 inclusive or None. Defaults to None.

In [4]:
VisualAnalysis(df)

VBox(children=(ToggleButtons(_dom_classes=('layout-30b1700e93954b549ac4c21c4f59c36f',), description='Selection…